@font-face {
  font-family: 'Squeeze';
  src: url('../../fonts/Squeeze.ttf') format('truetype');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Georgia', 'Times New Roman', serif;
  color: #ffffff;
  background-color: #0088cb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1,
p,
span {
  margin: 0;
  padding: 0;
}

