@font-face {
  font-family: 'Barlow Condensed';
  src: url('../../fonts/BarlowCondensed-BoldItalic.ttf') format('truetype');
  font-style: italic;   /* match the font file */
  font-weight: bold;    /* match the font file */
  font-display: swap;
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 137px;
  letter-spacing: -2px!important;
  transform: scaleY(1.4); 
  display: inline-block; 
  margin-bottom: 20px; 
}
:root {
  font-family: 'Georgia', 'Times New Roman', serif;
  color: #ffffff;
  background-color: #0088cb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1,
p,
span {
  margin: 0;
  padding: 0;
}

